/* *****************************************************
 	©2002  MAXworldwide- All Rights Reserved.	
   **************************************************** */
body, td {
	font-family : Geneva, Verdana, Arial, Sans-Serif;
	font-size : 70%;
	scrollbar-3dlight-color : #CCCCCC;
	scrollbar-arrow-color : #000000;
	scrollbar-base-color : #000000;
	scrollbar-darkshadow-color : #666666;
	scrollbar-face-color : #909090;
	scrollbar-highlight-color : #666666;
	scrollbar-shadow-color : #666666;
	scrollbar-track-color : #A8A8A8;
}

a {
	color : #3F5A7A;
}

a:visited {
	color : #3F5A7A;
}

a:hover{
	color : #6699FF;
}

a.nav {
	font : bold 10px Arial, Helvetica, sans-serif;
	text-decoration : none;
}

a.nav:link {
	color : #FFFFFF;
	text-decoration : none;
}

a.nav:visited {
	color : #FFFFFF;
	text-decoration : none;
}

a.nav:hover {
	font : bold 10px Arial, Helvetica, sans-serif;
	text-decoration : underline;
}


a.footer:link {
	color: #999999;
}
a.footer:visited {
	color: #999999;
}
a.footer:hover {
	color: #FFFFFF;
}


input {
	font-family: Verdana, sans-serif; 
	font-size: 11px; 
	background:#efefef;
	border: 1px solid #949494;
	}
.search {
	font-family: Verdana, sans-serif; 
	font-size: 11px; 
	background:#efefef;
	}
option {
	background : #EFEFEF;
	font-family : Verdana, sans-serif;
	font-size : 11px;
}

select {
	background : #EFEFEF;
	font-family : Verdana, sans-serif;
	font-size : 11px;
}

textarea {
	background : #EFEFEF;
	border : 1px #EFEFEF;
	border-bottom-style : outset;
	border-left-style : outset;
	border-right-style : outset;
	border-top-style : outset;
	font-family : Verdana, sans-serif;
	font-size : 11px;
}

.bodytext {
	font-family : Verdana, Geneva, Helvetica, sans-serif;
	font-size : 95%;
	line-height : 150%;
}

.button {
	background : #C0C0C0;
	color : #FFFFFF;
}

.byline {
	font-family : Verdana, Geneva, Helvetica, sans-serif;
	font-size : 80%;
}

.caption {
	color : #666666;
	font-family : Verdana, Geneva, Helvetica, sans-serif;
	font-size : 90%;
}

.captionhead {
	color : #526085;
	font-family : Verdana, Geneva, Helvetica, sans-serif;
	font-size : 80%;
	font-weight : bold;
	line-height : 15px;
}

.date {
	color : #666666;
	font-family : Verdana, Geneva, Helvetica, sans-serif;
	font-size : 80%;
}

.fineprint {
	font-family : Geneva, Verdana, Arial, sans-serif;
	font-size : 9px;
}

.head {
	font-family : Verdana, Geneva, Helvetica, sans-serif;
	font-size : 13pt;
	font-weight : bold;
}

.navselect {
	color : #FFFFFF;
	font : bold 11px Arial, Helvetica, sans-serif;
	text-decoration : none;
}

.pagetitle {
	color : #333333;
	font-family : Arial, sans-serif;
	font-size : 18px;
	font-weight : 600;
}

.quote {
	font-family : Times, Serif;
	font-size : 14px;
	line-height : 22px;
	margin-bottom : 0pt;
	margin-top : 10pt;
}

.subhead {
	color : #000000;
	font-family : Verdana, Arial, sans-serif;
	font-size : 14px;
	font-weight : 600;
}











